
body {
	margin-top: 30px;
}
@media (min-width: 768px) {
	body {
		margin-top: 50px;
	}
}
@media (min-width: 992px) {
	body {
		margin-top: 70px;
	}
}

.intro-img {
	height: 100%;
	width: 100%;
}

h2.page-header {
	padding-bottom: 20px;
}

.container {
	text-align: center;
}

.text-left {
	text-align: left;
}

.vcenter {
	display: inline-block;
    vertical-align: middle;
    float: none;
}

.link-img {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 50px;
	width: 50px;
	opacity: 0.5;
}

.work-hidden {
	display: none;
}

#work>.row>div {
	margin-top: 20px;
	margin-bottom: 20px;
}

#work img {
	margin-top: 20px;
	margin-bottom: 20px;
}