
body {
	margin-top: 100px;
}

.intro-img {
	height: 100%;
	width: 100%;
}

h2.page-header {
	padding-bottom: 20px;
}

.row {
	text-align: center;
}

.row>#intro {
	text-align: left;
}

.vcenter {
	display: inline-block;
    vertical-align: middle;
    float: none;
}

.link-img {
	height: 50px;
	width: 50px;
	opacity: 0.5;
}